.mainDivFooter{
    background-color: rgb(156, 156, 156);
    line-height: 24px;
    color: white;
    }
    
    .mainDivFooter .art{
        background-color: rgb(66, 66, 66);
        padding-top:  48px;
        padding: 16px;
        clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
        display: flex;
        justify-content: space-between;
    }
    
    
    .linksDiv a{
        text-decoration: none;
        color: white;
    }
    .linksDiv{
        text-align: center;
    